figure {
	float: left;
	margin-right: 1.5em;
}

figcaption {
	display: block;
	font-weight: bold;
	padding-top: .25em;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}



h1 {
	color: #333333;
}

body {
	background-image: -moz-linear-gradient(top, white 0%, #AAAAAA 100%);
	background-image: -webkit-linear-gradient(top, white 0%, #AAAAAA 100%);
	background-image: -o-linear-gradient(top, white 0%, #AAAAAA 100%);
	background-image: -linear-gradient(top, white 0%, #AAAAAA 100%);
}


ul.wine_list {
	list-style-type: none;
}

li.wine_list_item {
	list-style: none;
	font-size: 200%;
	padding: 10px;
	background-image: -moz-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: -webkit-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: -o-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: linear-gradient(top, #888888 0%, #666666 100%);
}
li.wine_list_item_top {
	list-style: none;
	font-size: 200%;
	padding: 10px;
	background-image: -moz-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: -webkit-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: -o-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: linear-gradient(top, #888888 0%, #666666 100%);
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
}
li.wine_list_item_bottom {
	list-style: none;
	font-size: 200%;
	padding: 10px;
	background-image: -moz-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: -webkit-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: -o-linear-gradient(top, #888888 0%, #666666 100%);
	background-image: linear-gradient(top, #888888 0%, #666666 100%);
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
}