@CHARSET "UTF-8";

div.main {
	width: 320px;
}

footer p {
	position: absolute;
	bottom: 0;
	
}

div.menu_options  {
	width: 320px;
}

div#upper_right {
	padding-right: 5%;
	right: 0;
    position: absolute;
    top: 140px;
}

div#upper_left {
	padding-left: 5%;
	position: absolute;
	left: 0;
	top: 140px;
	
}

div#upper_left img, 
div#upper_right img, 
div#lower_left img, 
div#lower_right img {
	width:100px;
}

div#lower_left {
	position: absolute;
	left: 0;
	top: 300px;	
	padding-left: 5%;
}

div#lower_right {
	position: absolute;
	right: 0;
	top: 300px;
	padding-right: 5%;
}




