.container {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
.checkbox {
	float: left;
	width: 10%;
	height: 100%;
	text-align: center;
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.name {
	float: left;
	width: 15%;
	height: 100%;
	text-align: left;
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.text {
	float: left;
	width: 50%;
	height: 100%;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
}
.price {
	float: left;
	width: 15%;
	height: 100%;
	text-align: left;
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.bottle {
	float: left;
	width: 10%;
	height: 10%;
	text-align: center;
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.clear {
	clear: both;
	height: 0;
	width: 100%;
}