.plainText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 80%;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	color: gray;
	text-transform: uppercase;
	text-shadow: 2px 2px #333333
}

.wineItem {
	border: solid 1px blue;
}
.wineListStar {
	width: 25px;
	height: 25px;
}
#systemImage {
	float: left;
	padding-bottom: .5em;
	padding-right: .5em;
}

.wineListWineImage {
	width: 50%;
}
.wineBottleImageDiv {
	position: relative;
}

.wineBottleInfoDiv {
	position: absolute;
	right: 200px;
}

body {
	margin: 1em;
	background-image: -moz-linear-gradient(rgb(100,100,100),rgb(200,200,200));
	background-image: -o-linear-gradient(rgb(100,100,100),rgb(200,200,200));
	background-image: -webkit-linear-gradient(rgb(100,100,100),rgb(200,200,200));
	background-image: linear-gradient(rgb(100,100,100),rgb(200,200,200));
}

