body {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff8dc),
		to(#FFFFFF) ) fixed;
	margin-left: 10px;
	margin-right: 10px;
	font-family: verdana, arial, helvetica;
	font-size: 12pt;
}

.filter {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.filter_label {
	padding-right: 15px;
}

.winelist {
	list-style: none;
}

.winelist a {
	color: black;
	text-decoration: none;
}

.prod_icon {
	float: left;
	margin-top: 6px;
}

.star {
	float: right;
}

.winelist li {
	border: solid thin black;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background: #BABABA;
}

.type {
	float: right;
}

.detail_image {
	float: left;
	width: 20%;
	margin-right: 15px;
	Ê
}

.infoIcons {
	width: 24px;
	margin: 4px;
}

.wineInfo li {
	list-style: none;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}

.infoCell {
	height: 20px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	text-align: center;
	font-size: 9px;
}

.infoLabel {
	font-weight: bold;
}

.infoTable {
	position: relative;
	bottom: 0px;
}