#checkboxes ul {
	margin: 0;
	list-style: none;
	width: 90%;
}
#checkboxes li {
	border: 1px solid black;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	-moz-box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
}

#checkboxes li:hover {
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 1px #111;
	-webkit-box-shadow: 1px 1px 1px #111;
	box-shadow: 1px 1px 1px #111;
}

