#checkboxes ul {
	margin: 0;
	list-style: none;
	width: 90%;
}
#checkboxes li {
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#checkboxes li:hover {
	position: relative;
	top: 2px;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0);
	box-shadow: 3px 3px 3px rgba(0,0,0,0);
	cursor: pointer;
}

