#title {
	font-size: 			24px;
	font-weight: 		bold;
	letter-spacing: 	0px;
}

#wine {
	margin-right:		20px;
	float:				right;
	width:				50px;
	margin-top:			-80px;
}

#category {
	background: 		#af0000;
	color: 				#f1efd9;
	padding: 			3px 10px;
}

#place {
	background: 		1px black solid;
	padding: 			3px 10px;
}

#place img {
	border:				#000000;
	margin:				0px 5px;
	font-weight: 		bold;
}

#country:after{
	content: ", "
}

#main-category {
	font-weight: 		bold;
	padding-right: 		10px;
}

#details {
	position:			absolute;
	top:				320px;
	clear:				both;
	background: 		#ffffff;
	padding:			10px;
	margin:				10px 0px;
	border-bottom: 		1px solid black;
	border-top:			1px solid black;
	height: 			30px;
	overflow:			hidden;
}

#more {
	float:				right;
}

dl dt {		
	font-weight: 		bold;
}

dl dd {
	display:			block;
	margin-bottom:		5px;
}

ul {
	margin:				10px;
	list-style: 		none;
}


li {
	margin:				5px;
}

ul li {
	float: 				left;
	text-align: 		center;
	background:			#FFFFFF;
	-webkit-border-radius: 5px;
	border: 			1px solid black;
	padding:			3px 0px;
	-webkit-box-shadow: 2px 2px 3px 0px #232323;
}

#taste a {
	text-decoration: 	none;
	color: 				black;	
}

#taste img {
	padding: 			0px 28px;
	display: 			block;
}

#food img {
	padding: 			0px 27px;
	display: 			block;
}

#food {
	clear:				both;
}

#food li {
	float: 				left;
	list-style: 		none;
}

#tastetip1, #tastetip2, #tastetip3 {
	position: 			absolute;
	display:			none;
	top:				50px;
	margin:				20px;
	padding:			20px;
	background:			lightsteelblue;
	-webkit-border-radius: 10px;
	border: 			1px solid black;
}

.close {
	text-align:			right;
}

