* {
    margin:             0px;
    padding:            0px;
    outline:            none;
    font-family:        sans-serif;
    font-size:          12pt;
    border:             none;
}

html {
    height:             100%;
    width:				100%;
    background-color:   #f1efd9;
}

body {
    width:              100%;
    height:             100%;
    margin:             0px auto;
}

#title {
	font-size: 			24px;
	font-weight: 		bold;
	letter-spacing: 	0px;
}

#wine {
	margin-right:		20px;
	float:				right;
	width:				50px;
	margin-top:			-80px;
}

#category {
	background: 		#af0000;
	color: 				#f1efd9;
	padding: 			3px 10px;
}

#place {
	background: 		1px black solid;
	padding: 			3px 10px;
}

#place img {
	border:				#000000;
	margin:				0px 5px;
	font-weight: 		bold;
}

#country:after{
	content: ", "
}

#main-category {
	font-weight: 		bold;
	padding-right: 		10px;
}

#details {
	position:			relative;
	clear:				both;
	background: 		#ffffff;
	padding:			10px;
	margin:				10px 0px;
	border-bottom: 		1px solid black;
	border-top:			1px solid black;
	height: 			40px;
	overflow:			hidden;
}

#more {
	float:				right;
}

dl dt {		
	font-weight: 		bold;
}

dl dd {
	display:			block;
	margin-bottom:		5px;
}

ul {
	margin:				10px;
	list-style: 		none;
}


li {
	margin:				5px;
}

ul li {
	float: 				left;
	text-align: 		center;
	background:			#FFFFFF;
	-webkit-border-radius: 5px;
	border: 			1px solid black;
	padding:			3px 0px;
}

#taste a {
	text-decoration: 	none;
	color: 				black;	
}

#taste img {
	padding: 			0px 35px;
	display: 			block;
}

#food img {
	padding: 			0px 27px;
	display: 			block;
}

#food {
	clear:				both;
}

#food li {
	float: 				left;
	list-style: 		none;
}

footer {
	clear:				both;
}

#tastetip1, #tastetip2, #tastetip3 {
	position: 			absolute;
	display:			none;
	top:				50px;
	margin:				20px;
	padding:			20px;
	background:			lightsteelblue;
	-webkit-border-radius: 10px;
	border: 			1px solid black;
}

.close {
	text-align:			right;
}

