* {
    margin:             0px;
    padding:            0px;
    outline:            none;
    font-family:        sans-serif;
    font-size:          12pt;
    border:             none;
}

html {
    height:             100%;
    width:				100%;
/*    background-color:   #f1efd9;*/
    
	background:         -webkit-linear-gradient(top, #f1efd9 50%, #d0cdb7 100%);
	background:         -moz-linear-gradient(top, #f1efd9 50%, #d0cdb7 100%);
	background:         -o-linear-gradient(top, #f1efd9 50%, #d0cdb7 100%);
	background:         -ms-linear-gradient(top, #f1efd9 50%, #d0cdb7 100%);
	-ms-filter:         "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1efd9', endColorstr='#d0cdb7')";  
	background:         linear-gradient(top, #f1efd9 50%, #d0cdb7 100%);
}

body {
    width:              100%;
    height:             100%;
    margin:             0px auto;
}

article {
    min-height:         100%;
    width:				100%;
}

header {
    position:			relative;
    height:				80px;
    text-align:			left;
}

header img {
	margin:				20px 0px 0px 20px;
	-webkit-transform:	rotate(-19deg); 
  	-moz-transform:		rotate(-19deg); 
  	-ms-transform:		rotate(-19deg); 
  	-o-transform:		rotate(-19deg); 
  	transform:			rotate(-19deg); 
}

nav {
    width: 				100%;
    text-align: 		center;
}

nav img {
	margin:				10px;
	width: 				128px;
	height: 			128px;
	padding:			4px 4px;
	border:             solid 1px #999999;
	border-radius:      4px;
	cursor:             pointer;
	
	-webkit-box-shadow: 2px 2px 3px 0px #232323;
	-moz-box-shadow:    2px 2px 3px 0px #232323;
	box-shadow:         2px 2px 3px 0px #232323;

	background:         -webkit-linear-gradient(top, #ffffff 50%, #fcfcfc 100%);
	background:         -moz-linear-gradient(top, #ffffff 50%, #fcfcfc 100%);
	background:         -o-linear-gradient(top, #ffffff 50%, #fcfcfc 100%);
	background:         -ms-linear-gradient(top, #ffffff 50%, #fcfcfc 100%);
	-ms-filter:         "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc')";  
	background:         linear-gradient(top, #ffffff 50%, #fcfcfc 100%);
}

section {
	text-align:			left;
	padding:			8px 12px;
}

table {
	margin:				0px 10px;
	border-spacing:		0;
  	border-collapse:	collapse;
}

table tr {
	height: 			34px;
	line-height: 		15pt;
	vertical-align: 	middle;
	cursor:             pointer;
}

table tr:nth-child(even) {
	background-color: 	#d0cdb7;
}

table tr td:nth-child(1),
table tr td:nth-child(4) {
	width: 				32px;
	padding: 			0px 4px;
}

table tr td:nth-child(2) {
	width: 				40%;
}

table tr td:nth-child(3) {
	width: 				50%;
}


table tr td img {
	vertical-align: 	middle;
}

/*
nav img:nth-child(1) {
	-webkit-transform:	rotate(7deg); 
  	-moz-transform:		rotate(7deg); 
  	-ms-transform:		rotate(7deg); 
  	-o-transform:		rotate(7deg); 
  	transform:			rotate(7deg); 
}

nav img:nth-child(2) {
  	-webkit-transform: 	rotate(-6deg); 
    -moz-transform: 	rotate(-6deg); 
    -ms-transform: 		rotate(-6deg); 
    -o-transform: 		rotate(-6deg); 
    transform: 			rotate(-6deg);
}

nav img:nth-child(3) {
	-webkit-transform: 	rotate(-3deg); 
    -moz-transform: 	rotate(-3deg); 
    -ms-transform: 		rotate(-3deg); 
    -o-transform: 		rotate(-3deg); 
    transform: 			rotate(-3deg); 
}

nav img:nth-child(4) {
  	-webkit-transform: 	rotate(9deg); 
    -moz-transform: 	rotate(9deg); 
    -ms-transform: 		rotate(9deg); 
    -o-transform: 		rotate(9deg); 
    transform: 			rotate(9deg); 
}
*/
footer {
    width:              100%;
    clear:              both;
    text-align:         center;
    height:             40px;
    margin-top:         -40px;
}