table {
	margin:				0px 10px;
	border-spacing:		0;
  	border-collapse:	collapse;
}

table tr {
	height: 			34px;
	line-height: 		15pt;
	vertical-align: 	middle;
	cursor:             pointer;
}

table tr:nth-child(even) {
	background-color: 	#d0cdb7;
}

table tr td:nth-child(1),
table tr td:nth-child(4) {
	width: 				32px;
	padding: 			0px 4px;
}

table tr td:nth-child(2) {
	width: 				40%;
}

table tr td:nth-child(3) {
	width: 				50%;
}


table tr td img {
	vertical-align: 	middle;
}